site_name: Inlets
site_description: Inlets Secure Tunnels From Dev to Cloud
site_author: OpenFaaS Ltd
site_url: https://docs.inlets.dev/

# Repository
repo_name: inlets/inlets
repo_url: https://github.com/inlets
edit_uri: ""

copyright: |
  Copyright &copy; 2021 OpenFaaS Ltd
theme:
  name: material
  # custom_dir: docs/theme
  logo: images/logo.svg

  palette:
  - scheme: default
    toggle:
      icon: material/toggle-switch-off-outline
      name: Switch to dark mode
  - scheme: slate
    toggle:
      icon: material/toggle-switch
      name: Switch to light mode

  font:
    text: Roboto, Helvetica
    code: Roboto Mono
  features:
    - navigation.tracking
    - navigation.tabs
    - navigation.sections
    # - navigation.indexes
    - navigation.top
    # - toc.integrate
    # - navigation.instant

  include_search_page: false
  search_index_only: true

  language: en

  # favicon: images/favicon.ico
  logo: images/logo.svg

extra:
  search:
    languages: "en"
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/inlets/
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/inletsdev

plugins:
  - search
  
markdown_extensions:
  - attr_list
  - md_in_html
  - markdown.extensions.admonition
  - markdown.extensions.codehilite:
      guess_lang: false
  - markdown.extensions.def_list
  - markdown.extensions.footnotes
  - markdown.extensions.meta
  - markdown.extensions.toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.tabbed:
      alternate_style: true

nav:
  - Inlets:
    - Overview: index.md
    - FAQ: reference/faq.md
    - Tutorials:
      - Automated HTTPs tunnel server: tutorial/automated-http-server.md
      - Manual HTTPs tunnel server: tutorial/manual-http-server.md
      - Manual TCP tunnel server: tutorial/manual-tcp-server.md
      - Dual TCP and HTTPs server: tutorial/dual-tunnels.md
      - GitHub Actions (ext): https://inlets.dev/blog/2021/12/06/private-deploy-from-github-actions.html
      - IP Allow list (ext): https://inlets.dev/blog/2021/10/15/allow-lists.html
      - Docker Compose (ext): https://inlets.dev/blog/2021/09/09/compose-and-inlets.html
      - Community tutorials: tutorial/community.md
    - Tutorials for TCP tunnels:
      - Run Caddy on a private network: tutorial/caddy-http-tunnel.md
      - Local port forwarding: https://inlets.dev/blog/2021/04/13/local-port-forwarding-kubernetes.html
      - Tunnel SSH: tutorial/ssh-tcp-tunnel.md
      - Tunnel Postgresql: tutorial/postgresql-tcp-tunnel.md
    - Kubernetes:
      - Kubernetes Ingress: tutorial/kubernetes-ingress.md
      - Kubernetes API Server: tutorial/kubernetes-api-server.md
      - Istio Gateway: tutorial/istio-gateway.md
      - Helm charts (ext): https://github.com/inlets/inlets-pro/tree/master/chart
      - Local port forwarding (ext): https://inlets.dev/blog/2022/06/24/fixing-kubectl-port-forward.html
      - Manage private clusters with ArgoCD (ext): https://inlets.dev/blog/2022/08/10/managing-tunnel-servers-with-argocd.html
  - Inlets Uplink:
    - Overview: uplink/index.md
    - Become a provider: uplink/become-a-provider.md
    - Create a tunnel: uplink/create-tunnels.md
    - Manage tunnels: uplink/manage-tunnels.md
    - Connect to tunnels: uplink/connect-to-tunnels.md
    - Monitor tunnels: uplink/monitoring-tunnels.md
    - Ingress for tunnels: uplink/ingress-for-tunnels.md
  - Reference:
    - Overview: reference/index.md
    - Inlets Operator: reference/inlets-operator.md
    - inletsctl: reference/inletsctl.md
    - Monitoring and metrics: tutorial/monitoring-and-metrics.md

extra:
  analytics:
    provider: google
    property: G-MVH8L09LKP
    anonymize_ip: true
